In [ ]:
# import pandas as pd

import pandas as pd

In [ ]:
# import the csv

df = pd.read_csv(r"C:\Users\longb\Downloads\batting_avg.csv")

In [ ]:
# test csv

df

In [ ]:
# rename multiple columns in a list

df = df.rename(columns = {'Mat': 'Matches', 'NO':'Not_Outs', 'HS':'Highest_Inns_Scored', 'BF':'Balls_Faced', 'SR':'Batting_Strike_Rate'})

In [ ]:
# check NULL values

df.isnull().any()

In [ ]:
df[df['Balls_Faced'].isna()==1]

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [ ]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [ ]:
df[df['Player']=='VG Kambli (IND)']

In [ ]:
df[df['Player']=='GS Chappell (AUS)']

In [ ]:
# Dropping duplicates

In [ ]:
df.duplicated()

In [ ]:
# .duplicated to check if there are any dupes

df[df['Player'].duplicated()==1]

In [ ]:
# isin shows all dupes

df[df['Player'].isin(['GS Sobers (WI)', 'JB Hobbs (ENG)', 'S Chanderpaul (WI)'])]

In [ ]:
df = df.drop_duplicates()

In [ ]:
df[df['Player'].duplicated()==1]

In [ ]:
# Split up Span into Start and End Date

In [ ]:
df['Span'].str.split(pat = '-')

In [ ]:
df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [ ]:
df['Span'].str.split(pat = '-').str[1]

In [ ]:
df['Final_Year'] = df['Span'].str.split(pat = '-').str[1]

In [ ]:
df

In [ ]:
# Remove Span Columns now that we have rookie and final year

In [ ]:
df = df.drop(['Span'], axis = 1)

In [ ]:
df.head()

In [ ]:
print(df.shape[1])

In [ ]:
print(df.columns.tolist())

In [ ]:
cols = df.columns.tolist()

In [ ]:
df_reordered = cols[-2:] + cols[:-2]

In [ ]:
df = df[df_reordered]

In [ ]:
df.head()

In [ ]:
# QUESTION -> Split up the country from the player.

In [ ]:
df['Player'].str.split(pat = '(')

In [ ]:
df['Country'] = df['Player'].str.split(pat = '(').str[1]

In [ ]:
df['Country'].str.split(pat = ')')

In [ ]:
df['Country'] = df['Country'].str.split(pat = ')').str[0]

In [ ]:
df['Country']

In [ ]:
df['Player'].head()

In [ ]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [ ]:
df.head()

In [ ]:
# Change DataTypes

In [ ]:
df.dtypes

In [ ]:
df['Highest_Inns_Scored'].str.split(pat = '*').str[0]

In [ ]:
df['Highest_Inns_Scored'] = df['Highest_Inns_Scored'].str.split(pat = '*').str[0]

In [ ]:
df['Highest_Inns_Scored'].head()

In [ ]:
df['Highest_Inns_Scored'] = df['Highest_Inns_Scored'].astype('int')

In [ ]:
df.dtypes

In [ ]:
# QUESTION, fix rookie and final year - converting the data type from object to int

In [ ]:
df['Rookie_Year'] = df['Rookie_Year'].astype('int')

In [ ]:
df['Final_Year'] = df['Final_Year'].astype('int')

In [ ]:
df.dtypes

In [ ]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].str.split(pat = '-').str[0]

In [ ]:
df['Batting_Strike_Rate']

In [ ]:
df['Batting_Strike_Rate'].astype(float)

In [ ]:
df['Batting_Strike_Rate'].unique()

In [ ]:
df['Batting_Strike_Rate'] = pd.to_numeric(df['Batting_Strike_Rate'], errors='coerce')

In [ ]:
df['Batting_Strike_Rate'].astype(float)

In [ ]:
df.dtypes

In [ ]:
# Change Balls_Faced to int

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '+').str[0]

In [ ]:
df['Balls_Faced'].head()

In [ ]:
df['Balls_Faced'].astype(int)

In [ ]:
df['Balls_Faced'].unique()

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '-').str[0]

In [ ]:
df['Balls_Faced'].unique()

In [ ]:
df['Balls_Faced'].astype(int)

In [75]:
import numpy as np

In [78]:
df['Balls_Faced'] = pd.to_numeric(df['Balls_Faced'], errors='coerce')

In [79]:
df['Balls_Faced'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [80]:
df['Balls_Faced'].unique()

array([ 9800.,  1839.,  2667.,  1707.,   416.,  6558.,  1288.,  4957.,
          nan,  2631.,  7491.,  4063., 22882.,  5363., 19176.,  2844.,
       28903.,   178., 17913.,   665.,   108., 29437., 19753.,  2738.,
       15164., 31258., 14372., 19375., 22782.,  2035., 10636., 12436.,
       27395., 14184., 22461., 22612., 14349., 16077., 27002.,  3345.,
        9613.,  2731., 22959., 16345.,   488.,   619., 10441.,  2445.,
       15456.,   885.,   158., 11641.,  1799.,  8662., 15525.,  3118.,
        3217.,  2110.])

In [81]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0).astype(int)

In [82]:
df['Balls_Faced'].unique()

array([ 9800,  1839,  2667,  1707,   416,  6558,  1288,  4957,     0,
        2631,  7491,  4063, 22882,  5363, 19176,  2844, 28903,   178,
       17913,   665,   108, 29437, 19753,  2738, 15164, 31258, 14372,
       19375, 22782,  2035, 10636, 12436, 27395, 14184, 22461, 22612,
       14349, 16077, 27002,  3345,  9613,  2731, 22959, 16345,   488,
         619, 10441,  2445, 15456,   885,   158, 11641,  1799,  8662,
       15525,  3118,  3217,  2110])

In [83]:
df['Balls_Faced'].astype(int)

0      9800
1      1839
2      2667
3      1707
4       416
      ...
60     8662
61    15525
62     3118
63     3217
64     2110
Name: Balls_Faced, Length: 62, dtype: int64

In [84]:
# QUESTION Build out a career_length column

In [85]:
df['Career_Length'] = df['Final_Year'] - df['Rookie_Year']

In [86]:
df.head()

,Rookie_Year,Final_Year,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scored,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Country,Career_Length
0,1928,1948,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,AUS,20
1,2022,2025,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,SL,3
2,2015,2016,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,AUS,1
3,1963,1970,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,SA,7
4,1930,1954,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,WI,24

In [ ]:
# Q1 : For all the players in the DataFrame, what is the average career length?

df['Career_Length'].mean()

np.float64(13.0)

In [90]:
# Q2 : What is the average batting_strike_rate for all players who have played for more than 10 years?

df[df['Career_Length'] > 10]['Batting_Strike_Rate'].mean()

np.float64(49.68205128205128)

In [92]:
# Q3 : Find the number of players who played before 1960?

df[df['Rookie_Year'] < 1960]['Player'].count()

np.int64(23)

In [98]:
# Q4 : Max Highest Inns Score by Country

df.groupby('Country')['Highest_Inns_Scored'].max().to_frame('countryinns').reset_index().sort_values('countryinns', ascending = False)

    Country  countryinns
5    ICC/WI          400
0       AUS          380
10       SL          374
11       WI          365
1       ENG          364
3   ICC/PAK          329
2   ICC/IND          319
8       PAK          313
9        SA          278
4    ICC/SA          277
7        NZ          251
6       IND          248
12      ZIM          232